.animate__delay-05s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.container {
  padding: 1rem 3rem 3rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 2rem auto;
}

.title {
  padding-top: .5rem;
}

.title h2 {
  margin-top: -.75rem;
  font-size: 1.2rem;
}

.title a {
  margin-right: 7px;
  font-size: 1.2rem;
  color: #fff;
  transition: color: .3s;
}

.title a:hover {
  transition: color: .3s;
  color: #f5f5f5;
  text-decoration: none;
}

.footer {
  font-size: .8rem;
  margin-top: 1rem;
  text-align: center;
}
