html {
  overflow-y: scroll;
}

* {
  font-family: 'Nunito', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-left {
  width: 25%;
}

.flex-right {
  width: 75%;
}

@media only screen and (max-width : 768px) {
  .flex-left {
    width: 0;
  }

  .flex-right {
    width: 100%;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.animate__delay-05s {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.animate__delay-000s {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

.animate__delay-100s {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.animate__delay-200s {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.animate__delay-300s {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.animate__delay-400s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.animate__delay-500s {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.animate__delay-600s {
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

.container {
  position: relative;
  margin: 2rem auto;
  padding: 1rem 3rem 2rem;
  border: 1px solid #526a80;
  border-radius: 5px;
}

.title h2 {
  font-size: 1.2rem;
  margin-top: -.5rem;
}

img.logo {
  float: left;
  width: 70%;
  padding-top: 30px;
}

@media only screen and (max-width : 768px) {
  img.logo {
    display: none;
  }
}

img.ad {
  width: 100%;
  margin-top: 1.4rem;
  padding: 2px;
  border: 1px solid #526a80;
  border-radius: 5px;
}

.mt-1 {
  margin-top: 1rem;
}

.is-centered {
  text-align: center;
}

.title a {
  font-size: 1.2rem;
  margin-right: .35rem;
  transition: color: .3s;
  color: inherit;
}

.title a:hover {
  transition: color: .3s;
  text-decoration: none;
  color: #f5f5f5;
}

img.home {
  position: relative;
  top: 1px;
  width: 15px;
  height: 15px;
  margin-right: 2px;
}

button.flex {
  width: 100%;
}

#menu_content {
  overflow-x: auto;
  margin-top: -12px;
}

#menu_content div,
#menu_content a {
  display: inline-flex;
}

#edit_button {
  font-size: .7rem;
  position: absolute;
  top: 6px;
  right: 0;
  padding: .5rem;
}

#main {
  display: none;
}

#page_content img {
  width: 100%;
  min-height: 100px;
  padding: 2px;
  border: 1px solid #526a80;
  border-radius: 5px;
}

#clear_session_data {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 15px;
  height: 15px;
  transition: background .3s;
  border-radius: 3px;
  background: transparent;
}

#clear_session_data:hover {
  cursor: pointer;
  transition: background .3s;
  background: rgba(155, 155, 155, .2);
}

#show_blurgs {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  transition: background .3s;
  border-radius: 3px;
  background: transparent;
}

#show_blurgs:hover {
  cursor: pointer;
  transition: background .3s;
  background: rgba(155, 155, 155, .2);
}

.coffee {
  display: block;
  width: 180px;
  margin: 2rem auto 0rem;
}

.coffee img {
  border-radius: 3px;
}

.footer {
  font-size: .75rem;
  margin: 4rem auto;
  text-align: center;
}

.footer a {
  color: inherit;
}
