html {
  overflow-y: scroll;
}

* {
  font-family: 'Nunito', sans-serif;
}

.animate__delay-05s {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.animate__delay-000s {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

.animate__delay-100s {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.animate__delay-200s {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.animate__delay-300s {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.animate__delay-400s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.animate__delay-500s {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.animate__delay-600s {
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

.container {
  margin: 2rem auto;
  padding: 1rem 3rem 2rem;
  border: 1px solid #526a80;
  border-radius: 5px;
  position: relative;
}

.title h2 {
  font-size: 1.2rem;
  margin-top: -.75rem;
}

.title a {
  font-size: 1.2rem;
  margin-right: 7px;
  transition: color: .3s;
  color: inherit;
}

img.logo {
  float: left;
  width: 100px;
  height: 100px;
  padding-top: 15px;
  padding-right: 50px;
}

@media only screen and (max-width : 768px) {
  img.logo {
    display: none;
  }
}

img.ad {
  margin-top: 2.4rem;
  width: 100%;
  padding: 2px;
  border: 1px solid #526a80;
  border-radius: 5px;
}

.mt-1 {
  margin-top: 1rem;
}

.is-centered {
  text-align: center;
}

.title a:hover {
  transition: color: .3s;
  text-decoration: none;
  color: #f5f5f5;
}

img.home {
  position: relative;
  top: 1px;
  height: 15px;
  width: 15px;
  margin-right: 2px;
}

button.flex {
  width: 100%;
}

#menu_content {
  overflow-x: auto;
  margin-top: -12px;
}

#menu_content div, #menu_content a {
  display: inline-flex;
}

#edit_button {
  position: absolute;
  top: 6px;
  right: 0px;
  padding: .5rem;
  font-size: .7rem;
}

#main {
  display: none;
}

#page_content img {
  width: 100%;
  padding: 2px;
  border: 1px solid #526a80;
  border-radius: 5px;
}

#clear_session_data {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 15px;
  height: 15px;
  background: transparent;
  transition: background .3s;
  border-radius: 3px;
}

#clear_session_data:hover {
  background: rgba(155, 155, 155, 0.2);
  transition: background .3s;
  cursor: pointer;
}

#show_blurgs {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  background: transparent;
  transition: background .3s;
  border-radius: 3px;
}

#show_blurgs:hover {
  background: rgba(155, 155, 155, 0.2);
  transition: background .3s;
  cursor: pointer;
}

.footer {
  font-size: .75rem;
  margin: 4rem auto;
  text-align: center;
}

.footer a {
  color: inherit;
}
